<div class="infinite-cards row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <h1 class="align-middle">Danh sách plan</h1>
          <button nbButton size="small" routerLink="add">Lập plan mới</button>
        </div>
      </nb-card-header>
      <div [nbSpinner]="loadingPrevious"></div>
      <nb-list
              nbInfiniteList
              listenWindowScroll
              [threshold]="200"
              (topThreshold)="loadPrevious()"
              (bottomThreshold)="loadNext()"
              nbListPageTracker
              [startPage]="startPage"
              [pageSize]="page.size"
              (pageChange)="updateUrl($event)">
        <nb-list-item *ngFor="let plan of plans">
          <article>
            <h4>#{{ plan.id }} - {{plan.name}}</h4>
            <small>Thời gian: {{ plan.tour?.numberOfDate }} ngày {{ plan.tour?.numberOfNight }} đêm </small> -
            <small>Khởi hành: {{ plan.startTime | date}} </small> -
            <small>Giá {{ plan.adultPrice | currency: 'VND' }} / {{ plan.childPrice | currency: 'VND'}}</small>
            <pre>{{ plan.tour?.description }}</pre>
            <a href="javascript:void(0)" [routerLink]="['/management/plans/edit', plan.id]">Chỉnh sửa </a> |
            <a href="javascript:void(0)" [routerLink]="['/management/plans/preview', plan.id]">Xem trước</a>
          </article>
        </nb-list-item>
        <nb-list-item *ngIf="loadError">Sommething went wrong</nb-list-item>
        <nb-list-item *ngFor="let _ of placeholders">
          <div class="title-placeholder"></div>
          <hr/>
          <div class="text-placeholder"></div>
          <div class="link-placeholder"></div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>