/deep/ .step-content {
  width: 100%;
  padding: 0!important;
}

pre {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}