<nb-card size="large">
  <nb-card-header *ngIf="INSERT_MODE" class="border-bottom">Lập plan mới</nb-card-header>
  <nb-card-header *ngIf="!INSERT_MODE" class="border-bottom">Chỉnh sửa plan #{{ plan.id }}</nb-card-header>
  <nb-card-body class="mt-0">
    <nb-stepper orientation="vertical" #planStepper>

      <nb-step label="Chọn tour" [stepControl]="stepperForm.chooseTour">
        <h2>Chọn tour
          <button nbButton size="xsmall" nbStepperNext [hidden]="INSERT_MODE"
                  (click)="completeChooseTour(plan.tour, true)" shape="rectangle">
            Chọn tour cũ <i class="nb-arrow-right font-w-bold"></i>
          </button>
        </h2>

        <div class="h-auto p-1">
          <nb-accordion>
            <nb-accordion-item *ngFor="let tour of tours">
              <nb-accordion-item-header>
                <nb-user size="xlarge"
                         name="#{{ tour.id }} -  {{ tour.name}}"
                         title="{{ tour.numberOfDate }} ngày {{ tour.numberOfNight }} đêm"
                         [picture]="tour.imageUrl">
                </nb-user>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-flip-card [showToggleButton]="false" #card class="overflow-hidden"
                              (mouseover)="card.toggle()" (mouseout)="card.toggle()">

                  <nb-card-front>
                    <nb-card class="border-0">
                      <nb-card-body>
                        <pre type="w">{{ tour.description }}</pre>
                      </nb-card-body>
                    </nb-card>
                  </nb-card-front>

                  <nb-card-back>
                    <nb-card class="border-0">
                      <nb-card-body>
                        <button nbButton size="xsmall" (click)="completeChooseTour(tour, false)"
                                shape="rectangle">Lập plan
                        </button>
                      </nb-card-body>
                    </nb-card>
                  </nb-card-back>

                </nb-flip-card>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-step>

      <nb-step label="Thông tin chung" [stepControl]="stepperForm.commonInfo">
        <h2>Thiết lập thông tin
          <button nbButton size="xsmall" nbStepperPrevious shape="rectangle"><i class="nb-arrow-left font-w-bold"></i>
            Trước
          </button>
          <button nbButton size="xsmall" nbStepperNext shape="rectangle">Tiếp theo
            <i class="nb-arrow-right font-w-bold"></i></button>
        </h2>
        <form [formGroup]="stepperForm.commonInfo" class="row">
          <div class="col">
            <div class="form-group">
              <label for="plan-title">Tiêu đề</label>
              <input type="text" class="form-control" id="plan-title"
                     formControlName="title" [(ngModel)]="plan.name">
              <div class="text-danger">Trường này không được trống {{ stepperForm.commonInfo.invalid | json }}</div>
            </div>
            <div class="form-group">
              <label for="plan-url">URL</label>
              <input type="text" class="form-control" formControlName="url" id="plan-url" [(ngModel)]="plan.url">
            </div>
          </div>
        </form>
      </nb-step>

      <nb-step label="Thời gian" [stepControl]="stepperForm.time">
        <h2>Thời gian
          <button nbButton size="xsmall" nbStepperPrevious shape="rectangle"><i class="nb-arrow-left font-w-bold"></i>
            Trước
          </button>
          <button nbButton size="xsmall" nbStepperNext shape="rectangle">Tiếp theo <i
                  class="nb-arrow-right font-w-bold"></i></button>
        </h2>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="start-date">Thời điểm khởi hành</label>
              <input class="form-control" nbInput id="start-date" value="{{ startDate | date }}"
                     type="text" [nbDatepicker]="startDatePicker">
              <nb-datepicker #startDatePicker (dateChange)="submitChooseDate($event)"></nb-datepicker>
            </div>
          </div>
        </div>
      </nb-step>

      <nb-step label="Giá và số vé" [stepControl]="stepperForm.priceAndTicket">
        <h2>Giá và số lượng vé
          <button nbButton size="xsmall" nbStepperPrevious shape="rectangle"><i class="nb-arrow-left font-w-bold"></i>
            Trước
          </button>
          <button nbButton size="xsmall" nbStepperNext shape="rectangle" (click)="submitPriceAndTicket()">Tiếp theo
            <i class="nb-arrow-right font-w-bold"></i></button>
        </h2>
        <form [formGroup]="stepperForm.priceAndTicket" class="row">
          <div class="col">
            <div class="form-group">
              <label for="adult-price">Giá người lớn (từ đủ 12 tuổi trở lên)</label>
              <div class="input-group"><input class="form-control" nbInput
                                              placeholder="Giá vé người lớn"
                                              id="adult-price" formControlName="adultPrice"
                                              [(ngModel)]="plan.adultPrice">
                <span class="input-group-append"><span class="input-group-text">đ</span></span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="child-price">Giá trẻ em</label>
              <div class="input-group"><input type="number" class="form-control"
                                              placeholder="Giá vé trẻ em"
                                              id="child-price" formControlName="childPrice"
                                              [(ngModel)]="plan.childPrice">
                <span class="input-group-append"><span class="input-group-text">đ</span></span>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]="stepperForm.priceAndTicket" class="row">
          <div class="col">
            <div class="form-group">
              <label for="number-of-reserved-slot">Số vé đã đặt</label>
              <input class="form-control" placeholder="Số vé đã đặt" id="number-of-reserved-slot" type="number"
                     nbInput [(ngModel)]="plan.numberOfReservedSlot" formControlName="reversedSlot">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="number-of-slot">Tổng số vé</label>
              <input type="text" class="form-control" placeholder="Tổng số vé" id="number-of-slot" type="number"
                     nbInput [(ngModel)]="plan.numberOfSlot" formControlName="totalSlot">
            </div>
          </div>
        </form>
      </nb-step>

      <nb-step label="Chọn địa điểm" [stepControl]="stepperForm.choosePlace">
        <h2>Chọn địa điểm
          <button nbButton size="xsmall" nbStepperPrevious shape="rectangle"><i class="nb-arrow-left font-w-bold"></i>
            Trước
          </button>
          <button nbButton size="xsmall" nbStepperNext shape="rectangle">Tiếp theo
            <i class="nb-arrow-right font-w-bold"></i></button>
        </h2>
        <form class="row">
          <mat-form-field class="col">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let p of choosedPlaces" [selectable]="true" [removable]="true" (removed)="remove(p)">
                {{ p?.name }}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <hr>
            <input class="form-control w-100" #placeInput [formControl]="inputPlace" [matAutocomplete]="auto"
                   [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let p of filteredProvinces | async" [value]="p">
                {{ p?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </nb-step>

      <nb-step label="Xác nhận">
        <h2>Xác nhận
          <button nbButton size="xsmall" nbStepperPrevious shape="rectangle"><i class="nb-arrow-left font-w-bold"></i>
            Trước
          </button>
          <button nbButton size="xsmall" shape="rectangle" (click)="submitPlanForm()"><i
                  class="nb-checkmark font-w-bold"></i>
            Xác nhận
          </button>
        </h2>
        <div class="overflow-hidden overflow-y">

          <div class="row">
            <div class="col container">
              <nb-user size="xlarge"
                       name="#{{ plan.tour.id }} -  {{ plan.tour.name}}"
                       title="{{ plan.tour.numberOfDate }} ngày {{ plan.tour.numberOfNight }} đêm"
                       [picture]="plan.tour.imageUrl"></nb-user>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="plan-url-confirm">Tiêu đề</label>
                <input class="form-control text-hint" id="plan-title-confirm"
                       type="text" disabled nbInput value="{{ plan?.tour?.name }}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="plan-url-confirm">URL</label>
                <input class="form-control text-hint" id="plan-url-confirm"
                       type="text" disabled nbInput value="{{ plan?.tour?.name | vtext }}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="start-date-confirm">Thời điểm khởi hành</label>
                <input class="form-control text-hint" placeholder="Thời điểm khởi hành" id="start-date-confirm"
                       type="text" disabled nbInput value="{{ startDate | date }}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="time-range-confirm">Thời gian chuyến du lịch</label>
                <input class="form-control text-hint" id="time-range-confirm"
                       type="text" disabled
                       value="{{ plan?.tour?.numberOfDate }} ngày {{ plan?.tour?.numberOfNight }} đêm">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="adult-price-confirm">Giá người lớn (từ đủ 12 tuổi trở lên)</label>
                <input class="form-control text-hint" placeholder="Số vé đã đặt" id="adult-price-confirm"
                       type="text" disabled nbInput [value]="plan.adultPrice">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="child-price-confirm">Giá trẻ em</label>
                <input class="form-control text-hint" placeholder="Tổng số vé" id="child-price-confirm"
                       type="text" disabled nbInput [value]="plan.childPrice">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="number-of-reserved-slot-confirm">Số vé đã đặt</label>
                <input class="form-control text-hint" placeholder="Số vé đã đặt" id="number-of-reserved-slot-confirm"
                       disabled type="text" nbInput [value]="plan.numberOfReservedSlot">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="number-of-slot-confirm">Tổng số vé</label>
                <input class="form-control text-hint" placeholder="Tổng số vé" id="number-of-slot-confirm"
                       disabled type="text" nbInput [value]="plan.numberOfSlot">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="places-confirm">Các địa điểm</label>
              <div id="places-confirm">
                <mat-chip-list>
                  <mat-chip [disableRipple]="true" *ngFor="let p of choosedPlaces"> {{ p?.name }}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>

        </div>
      </nb-step>

      <nb-step label="Hoàn thành" hidden="true">
        <h3 [class]="complete.textType">
          <i [class]="complete.icon"></i>
          {{ complete.title }}</h3>
        <p>{{ complete.message }}</p>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>