@import '../../../themes';

/deep/ img {
  max-width: 100%;
}

.aspect {
  width: 100%;
  padding-top: 50%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  overflow: hidden;
}

.aspect img {
  position: absolute;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
}
