<nb-card>
  <nb-card-header>
    <h1>Xem trước Plan#{{plan.d}}</h1>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>{{ plan.name }}</h2>
        <div class="aspect" style="position: relative;">
          <img class="img-fluid" [src]="(plan?.tour?.imageUrl == null) ? defaultImage: plan.tour.imageUrl">
        </div>

        <div class="row text-center p-3 w-100"
             style="position: absolute; bottom: 0; background: rgba(255, 255, 255, 0.9)">
          <div class="col border-only-right">
            <h6 class="mb-0"> {{ plan?.tour?.numberOfDate}} ngày {{ plan?.tour?.numberOfNight }} đêm</h6>
            <small>
              <mat-icon inline="true">date_range</mat-icon>
              Thời gian
            </small>
          </div>
          <div class="col border-only-right">
            <h6 class="mb-0"> {{ plan?.startTime | vdatetime }}</h6>
            <small>
              <mat-icon inline="true">flight_takeoff</mat-icon>
              Khởi hành
            </small>
          </div>
          <div class="col">
            <h6 class="mb-0"> {{ plan?.adultPrice | number: '1.2-2' }} VNĐ</h6>
            <small>
              <mat-icon inline="true">attach_money</mat-icon>
              Giá từ
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3" [innerHTML]="content"></div>
    </div>
  </nb-card-body>
</nb-card>
