@import '../../../themes';

/deep/ img {
  max-width: 100%;
}

.aspect {
  width: 100%;
  padding-top: 50%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  overflow: hidden;
}

.aspect img {
  position: absolute;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
}

pre {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}